.push_now {
	margin: 25px 0;
	background-color: #c8edf1;
	align-items: center;
	
	p {
		color: #31a3ae;
	}
	img {
		padding: 15px;
	}
	
}
.third_text {
	h4 {
		color: #ed7223;
	}
	p {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.2;
	}
}
